{{ define "header_css" }}
{{ with .Params.goimport }}<meta name="go-import" content="{{ . }}">{{ end }}
{{ with .Params.gosource }}<meta name="go-source" content="{{ . }}">{{ end }}
{{ end }}
{{ define "body_classes" }}page-default-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<center>
<h1 class="title">{{.Title}}</h1>
<div class="content">
  {{.Content}}
</div>
</center>
{{ end }}