<div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="sub-footer-inner">
            <ul>
                <li>https://goftp.io</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>